.education{
    margin-top: 5rem ;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25), 0 3px 10px 0 rgba(0,0,0,.2)!important;
}

h2{
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
}

p{
    font-family:'Open Sans', sans-serif;
}

span{
        font-family:'Montserrat', sans-serif;
}

ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}


ul.timeline:before {
    content: ' ';
    background: rgb(29, 224, 126);
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}


.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid rgb(255, 255, 255);
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}


li.timeline-item::before {
    content: ' ';
    background: rgb(3, 252, 156);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.877);
}