<div class="contact">
    <div class="head">
        <h3>Edit Project </h3>
        <i class="fa fa-apple fa-lg"></i>
      </div>
      <form (ngSubmit)="onUpdate()" novalidate #updateProject="ngForm">
        <div class="form-group">
            <label for="projectName">Project Name</label>
            <input type="text" class="form-control" id="projectName" name="project_name" [(ngModel)]="project.projectName" required>
        </div>
        <div class="form-group">
            <label for="projectDescription">Description</label>
            <textarea type="text" class="form-control" id="projectDescription" name="projectDescription" [(ngModel)]="project.projectDescription" cols="30" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="projectDescription">Fecha</label>
            <input type="text" class="form-control" id="fecha" name="fecha" [(ngModel)]="project.fecha" required>
        </div>
        <div class="form-group">
            <label for="projectUrlImg">Project Image:</label>
            <input type="text" class="form-control" id="projectUrlImg" name="projectUrlImg" [(ngModel)]="project.projectUrlImg" required>
        </div>
        <div class="form-group">
            <label for="linkRepositorio">Link Repositorio</label>
            <input type="text" class="form-control" id="linkRepositorio" name="linkRepositorio" [(ngModel)]="project.linkRepositorio" required>
        </div>
        <div class="form-group">
            <label for="linkWeb">Link Site</label>
            <input type="text" class="form-control" id="linkWeb" name="linkWeb" [(ngModel)]="project.linkWeb" required>
        </div>

        <div class="mt-4 text center">
            <button class="btn btn-outline-success btn-block" [disabled]="!updateProject.valid">
            <i class="fas fa-refresh"></i> Edit
        </button><br>
            <button class="btn btn-outline-primary btn-block" routerLink="**">
            <i class="fas fa-arrow-alt-circle-left"></i> Back
        </button>
        </div>
    </form>
  </div>