 <div class="banner" style="background-image: url('{{portfolio.url_banner}}');  background-repeat: no-repeat; background-size: cover; width: 100%; height: 750px;" *ngFor="let portfolio of portfolioList">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0);backdrop-filter: blur(2px); width: 100%; height: 750px; background-repeat: no-repeat; background-size: cover;">
      <div class="text-center p-5">
        <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong" src="{{portfolio.url_photo}}" class="rounded-circle" width="160" height="160"/></div>
        <div class="header-bio mt-3">
          <div data-aos="zoom-in" data-aos-delay="0">
            <h2 class="h1 fw-bold"> <strong>{{portfolio.name}} {{portfolio.surname}}</strong> </h2>
            <h4 class=" fw-bold">{{portfolio.profession}}</h4>
            
            
          </div>
        </div>  
  </div>