<div class="container skills">
    <div class="shadow-1-strong gb-white my5 p-5" id="skills">
        <div class="skills-section">
            <h2 class="h2 fw-bold mb-4">Professional Skills <a class="btn" *ngIf="isAdmin" (click)="onCreateSkill()"><i class="fa fa-plus-square pe-2"></i></a></h2>
            <div class="habilidad">
                <div class="col-md-6" *ngFor="let skill of skills ">
                    <div class="mb-3"><span class="fw-bolder">{{skill.nameSkill}}<a class="btn" *ngIf="isAdmin" routerLink="/skills/update/{{skill.idSkill}}"><i class="fa fa-pencil pe-2"></i></a><a class="btn" *ngIf="isAdmin" (click)="delete(skill.idSkill) "><i class="fa fa-trash-o pe-2"></i></a></span></div>
                        <p><ngb-progressbar type="info" [max]="100" height="1vw" [value]="skill.levelSkill" [striped]="true" [animated]="true"></ngb-progressbar></p>
                </div>
            </div>
        </div>
    
    </div>
</div>


<ng-template #modalCreate let-modal>
    <app-new-skills></app-new-skills>
  </ng-template>
