    .skills{
        margin-top: 5rem ;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.25), 0 3px 10px 0 rgba(0,0,0,.2)!important;
        align-content: center;
    }

.progress-bar{
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
}

h2{
        font-family:'Montserrat', sans-serif;
    }
.mb-3{
    font-family:'Open Sans', sans-serif;
}

